<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">DB_URL</property>
        <property name="connection.username">DB_USER</property>
        <property name="connection.password">DB_PASSWORD</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="com.ocr.javafx.entity.User"/>
        <mapping class="com.ocr.javafx.entity.LearningPlan"/>
        <mapping class="com.ocr.javafx.entity.ScheduleSlot"/>
    </session-factory>
</hibernate-configuration>